.search-bar {
  width: 568px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #121212;
  border-radius: 8px 0px 0px 8px;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--black-color);
}

.search-bar-wrapper {
  display: flex;
}

.search-bar::placeholder {
  color: var(--black-color);
  opacity: 1;
}
